@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 122, 98, 246;
  --background-end-rgb: 122, 98, 246;
}

body.dark-theme {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 128, 175;
  --background-end-rgb: 0, 128, 175;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 128, 175;
    --background-end-rgb: 0, 128, 175;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
